html {height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {

  /* background-color: rgb(34, 165, 241); */
  background-image: url("../images/sky.jpg");
  font-family: 'Bree Serif', serif;

}
  .wrapper__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Ribeye', cursive;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
  }
}
@media (min-width: 1280px) {
  .title {
    font-size: 70px;
  }
}

h1:after {
  position: absolute;
  width: 100%;
  top: 3px;
  left: 3px;
  color: #000;
  z-index: -1;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button {
  margin: 10px;
  padding: 7px;

  background: white;
  color: inherit;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  border: 3px solid black;
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .button {
    font-size: 26px;
  }
}
.fa-search {
  font-size: 20px;
  color: black;
}
@media (min-width: 1280px) {
  .fa-search {
    font-size: 30px;
  }
}

.input {
  font-family: 'Bree Serif', serif;
  text-align: center;
  padding: 3px;
  height: 30px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
}
@media (min-width: 7680px) {
  .input {
    height: 40px;
    font-size: 28px;
  }
}
@media (min-width: 1280px) {
  .input {
    font-size: 30px;
    height: 50px;
  }
}
.container {
  min-height: 25vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .container {
    min-height: 50vh;
  }
}
@media (min-width: 1280px) {
  .container {
    min-height: 30vh;
  }
} 
.rain {
  position: relative;
}

.rain:nth-of-type(1) {
  --duration: 3s;
  --delay: 1s;
  transform: translate(10%, 10%) scale(0.7);
}

.rain:nth-of-type(2) {
  --duration: 2.1s;
  --delay: 1.2s;
  transform: translate(-20%, 40%) scale(0.6);
}

.rain:nth-of-type(3) {
  --duration: 2.3s;
  --delay: 2s;
  transform: translate(0%, 50%) scale(0.6);
}

.rain:nth-of-type(4) {
  --duration: 2s;
  --delay: 4s;
  transform: translate(0%, -10%) scale(0.6);
}

.rain:nth-of-type(5) {
  --duration: 2.5s;
  --delay: 0s;
  transform: translate(10%, 0%) scale(0.9);
}

.rain:nth-of-type(6) {
  --duration: 2s;
  --delay: 2.7s;
  transform: translate(-20%, 0%) scale(0.6);
}

.rain:nth-of-type(7) {
  --duration: 1.8s;
  --delay: 1.3s;
  transform: translate(20%, -40%) scale(0.6);
}

.rain:nth-of-type(8) {
  --duration: 2.2s;
  --delay: 0s;
  transform: translate(20%, 0%) scale(0.6);
}

.rain:nth-of-type(9) {
  --duration: 2s;
  --delay: 0.5s;
  transform: translate(0%, -10%) scale(0.6);
}

.drop {
  background-color: white;
  width: 3px;
  height: 50px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 1.5px);
  animation-name: fall;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

@keyframes fall {
  0% {
    transform: translateY(-120vh);
  }
  45% {
    transform: translateY(0%);
    opacity: 1;
  }
  46% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.waves > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  border: solid white 3px;
  animation-name: spread;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.waves > div:nth-child(2) {
  animation-delay: calc(var(--delay) + 0.3s);
  animation-timing-function: linear;
}

@keyframes spread {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  40% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.splash {
  position: absolute;
  top: 10%;
  bottom: 50%;
  left: 35%;
  right: 35%;
  border-radius: 8px;
  clip-path: polygon(
    7% 100%,
    5% 95%,
    3% 80%,
    11% 50%,
    17% 38%,
    23% 44%,
    30% 53%,
    37% 28%,
    40% 29%,
    45% 43%,
    51% 53%,
    59% 36%,
    64% 22%,
    67% 23%,
    70% 34%,
    72% 46%,
    79% 37%,
    83% 37%,
    93% 61%,
    96% 76%,
    96% 94%,
    94% 100%
  );
  background-color: white;
  transform-origin: bottom;
  animation-name: splash;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

@keyframes splash {
  0% {
    transform: scale(0.3, 0);
  }

  49% {
    transform: scale(0.3, 0);
  }

  50% {
    transform: scale(0.3, 0.3);
  }

  60% {
    transform: scale(0.7, 1);
  }

  90% {
    transform: scale(1, 0);
  }

  100% {
    transform: scale(1, 0);
  }
}

.particles > div {
  position: absolute;
  border-radius: 100%;
  background-color: white;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.particles > div:nth-child(1) {
  width: 7px;
  height: 7px;
  top: 50%;
  left: 50%;
  animation-name: jumpLeft;
}

.particles > div:nth-child(2) {
  width: 5px;
  height: 5px;
  top: 30%;
  left: 50%;
  animation-name: jumpLeft;
  animation-delay: calc(var(--delay) + 0.1s);
}

.particles > div:nth-child(3) {
  width: 3px;
  height: 3px;
  top: 20%;
  left: 70%;
  animation-name: jumpRight;
  animation-delay: calc(var(--delay) + 0.15s);
}

.particles > div:nth-child(4) {
  width: 5px;
  height: 5px;
  top: 30%;
  left: 50%;
  animation-name: jumpRight;
  animation-delay: calc(var(--delay) + 0.3s);
}

@keyframes jumpLeft {
  0% {
    transform: translate(0, 0) scale(0);
  }

  45% {
    transform: translate(0, 0) scale(0);
  }

  60% {
    transform: translate(-50px, -90px) scale(1);
  }

  100% {
    transform: translate(-60px, 0px) scale(0.1);
  }
}

@keyframes jumpRight {
  0% {
    transform: translate(0, 0) scale(0);
  }

  45% {
    transform: translate(0, 0) scale(0);
  }

  60% {
    transform: translate(30px, -80px) scale(1);
  }

  100% {
    transform: translate(50px, 0px) scale(0.1);
  }
}
footer{
  margin:0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 768px) {
    footer {
      flex-direction: row;
      margin:0px 20px;

    }
  }
  .contact{
  text-decoration: none;
  color: white;
  font-size: 22px;
  }