body {
  background-image: url("../images/sky.jpg");
  font-family: "Bree Serif", serif;
}

.wrapper__container {
  min-height: 80vh;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* @media (min-width: 768px) {
  .wrapper__container {
    height: 80vh;
  }
} */
.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgb(241, 241, 134);
  /* margin-top: 200px; */
  border: 3px solid black;
}
.name {
  font-size: 22px;
  margin: 10px;
}
@media (min-width: 768px) {
  .name {
    font-size: 32px;
  }
}
@media (min-width: 1280px) {
  .name {
    font-size: 50px;
  }
}
.temp {
  font-size: 16px;
}
@media (min-width: 768px) {
  .temp {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .temp {
    font-size: 30px;
  }
}
.row {
  margin: 10px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
@media (min-width: 768px) {
  .row {
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .row {
    font-size: 22px;
  }
}
.column {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.humity {
  margin: 15px;
}
.description {
  font-size: 12px;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .description {
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .description {
    font-size: 22px;
  }
}
.img {
  width: 120px;
  height: 120px;
}
.nocity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
@media (min-width: 768px) {
  .nocity {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .nocity {
    font-size: 22px;
  }
}
.button {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
  font-family: "Bree Serif", serif;
  background-color: white;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .button {
    font-size: 22px;
  }
}
.fa-home {
  padding: 3px;
}
footer {
  margin: 40px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact {
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.back {
  color: black;
  text-decoration: none;
}
