<footer>
    <span><a class="contact" href="https://github.com/Anafruiz/weather-app">Github</a></span>
    <small>Made by @anafruiz</small>
    <span><a class="contact" href="http://www.linkedin.com/in/anafruiz20">Linkedin</a></span>
</footer>